.product-card {
  padding: 15px;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
  margin-bottom: 8px;
}

.product-card .product-image {
  /* width: 270px; */
  height: 270px;
}

.product-card .product-image img {
  object-fit: contain;
  height: 270px;
  width: 100%;
}

.product-card:hover .action-bar {
  right: 15px;
}

.product-card .product-details {
  flex: 1;
  margin-top: 8px;
}

.product-card .product-details h6 {
  color: var(--color-bf4800);
  font-size: 13px;
}

.product-card .product-details h5 {
  font-size: 15px;
  color: var(--color-1c1c1b);
  display: -webkit-box !important;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.product-card .product-details p.price {
  font-size: 16px;
  color: var(--color-1c1c1b);
}

.product-card p.description.d-block {
  font-size: 13px;
  color: var(--color-777777);
  margin-right: 20px;
  display: -webkit-box !important;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.action-bar {
  top: 10%;
  right: -23px;
  transition: 0.3s;
}

.wishlist-icon {
  top: 2%;
  right: 15px;
}
